<div class="container-fluid">
            <div class="row">
                <div class="col-md-12" id="intro">
                    <div class="text-center">
                        <h5 class="svgLogo"></h5>
                        <h1 class="mainTitle">Wedding Studio</h1><br />
                        <p class="subTitle fancy font-weight-bold"><span>Wedding Photography</span></p>
                    </div>
                </div>
            </div>
            
            <div ng-controller="myController" class="row service-wrapper" id="services">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="sectionTitle text-uppercase text-center">our services</h1>
                        </div>
                    </div>
                    
                    <div class="row text-center service-content-wrapper">
                        <div class="col-md-4">
                            <div class="row service-row">
                                <div class="col-md-12 service-col">
                                    <div class="row">
                                        <div class="col-md-12 text-uppercase">
                                            <h2>{{service[0].service}}</h2>
                                        </div>
                                    </div>
                                    
                                    <div class="row service-content-container">
                                        <div class="col-md-12">
                                            <p class="text-justify service-detail">{{service[0].description}}</p>
                                        </div>
                                    </div>
                                    
                                    
                                    <div class="row service-img">
                                        <div class="col-md-12 service-col">
                                            <img src="images/wedding_dress.jpg" width="100%" />
                                            <p><small>{{service[0].slogan}}</small></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row service-row">
                                <div class="col-md-12 service-col">
                                    <div class="row">
                                        <div class="col-md-12 text-uppercase">
                                            <h2>{{service[1].service}}</h2>
                                        </div>
                                    </div>
                                    
                                    <div class="row service-content-container">
                                        <div class="col-md-12">
                                            <p class="text-justify service-detail">{{service[1].description}}</p>
                                            
                                        </div>
                                    </div>
                                    
                                    <div class="row service-img">
                                        <div class="col-md-12 service-col">
                                            <img src="images/photograph.jpg" width="100%" />
                                            <p><small>{{service[1].slogan}}</small></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row service-row">
                                <div class="col-md-12 service-col">
                                    <div class="row">
                                        <div class="col-md-12 text-uppercase">
                                            <h2>{{service[2].service}}</h2>
                                        </div>
                                    </div>
                                    
                                    <div class="row service-content-container">
                                        <div class="col-md-12">
                                            <p class="text-justify service-detail">{{service[2].description}}</p>
                                        </div>
                                    </div>
                                    
                                    <div class="row service-img">
                                        <div class="col-md-12 service-col">
                                            <img src="images/decoration.jpg" width="100%" />
                                            <p><small>{{service[2].slogan}}</small></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row text-center booking-button">
                        <div class="col-md-4 col-md-push-4">
                            <a class="btn btn-default btn-lg text-uppercase service-button " href="#booking">Book for service consultation now!</a>
                        </div>
                    </div>
                </div>
            </div>
        
            
            
            
        
            <div class="row gallery-row" id="gallery">
                <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="sectionTitle text-uppercase text-center">gallery</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 gallery-col">
                        <div class="row productRow">
                            <div class="col-md-4 gallery-col">
                                <div class="row gallery-row">
                                    <div class="col-md-12 gallery-col">
                                        <img class="product" src="images/2.jpg" width="100%" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 gallery-col">
                                <div class="row gallery-row">
                                    <div class="col-md-12 gallery-col">
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 gallery-col">
                                <div class="row gallery-row">
                                    <div class="col-md-12 gallery-col">
                                        <img class="product" src="images/4.jpg" width="100%" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row productRow">
                            <div class="col-md-4 gallery-col">
                                <div class="row gallery-row">
                                    <div class="col-md-12 gallery-col">
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 gallery-col">
                                <div class="row gallery-row">
                                    <div class="col-md-12 gallery-col">
                                        <img class="product" src="images/3.jpg" width="100%" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 gallery-col">
                                <div class="row gallery-row">
                                    <div class="col-md-12 gallery-col">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row productRow">
                            <div class="col-md-4 gallery-col">
                                <div class="row gallery-row">
                                    <div class="col-md-12 gallery-col">
                                        <img class="product" src="images/5.jpg" width="100%" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 gallery-col">
                                <div class="row gallery-row">
                                    <div class="col-md-12 gallery-col">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 gallery-col">
                                <div class="row gallery-row">
                                    <div class="col-md-12 gallery-col">
                                        <img class="product" src="images/6.jpg" width="100%" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row productRow">
                            <div class="col-md-4 gallery-col">
                                <div class="row gallery-row">
                                    <div class="col-md-12 gallery-col">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 gallery-col">
                                <div class="row gallery-row">
                                    <div class="col-md-12 gallery-col">
                                        <img class="product" src="images/7.jpg" width="100%" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 gallery-col">
                                <div class="row gallery-row">
                                    <div class="col-md-12 gallery-col">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            
            <div class="row" id="about">
                <div class="col-md-12">
                    <div class="row about-wrapper">
                        <div class="col-md-12">
                            <h1 class="sectionTitle text-uppercase text-center"><span>about</span></h1>
                        </div>
                    </div>
                    
                    <div class="row text-center about-background">
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <img src="images/photographer.jpg" class="img-circle avatar-size" width="100%" />
                                </div>
                            </div>
                            <div class="row person-wrapper">
                                <div class="col-md-12">
                                    <span class="person-name">GORDON DARBY</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="person-desc">I'm a title. Click here to add your own text and edit me.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <img src="images/photographer.jpg" class="img-circle avatar-size" width="100%" />
                                </div>
                            </div>
                            <div class="row person-wrapper">
                                <div class="col-md-12">
                                    <span class="person-name">GORDON DARBY</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="person-desc">I'm a title. Click here to add your own text and edit me.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <img src="images/photographer.jpg" class="img-circle avatar-size" width="100%" />
                                </div>
                            </div>
                            <div class="row person-wrapper">
                                <div class="col-md-12">
                                    <span class="person-name">GORDON DARBY</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="person-desc">I'm a title. Click here to add your own text and edit me.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row background-black footer-height">
                <div class="col-md-12 text-center text-white footer-content-align">
                    <span onClick="addCount();">&copy;</span>
                    <span>Address | </span>
                    <span>Email | </span>
                    <span>Tel: Telephone Number</span>
                </div>
            </div>
        </div>